.container {
  max-width: 100%;
  margin: auto;
}

.card-header button {
  background: none;
  border: none;
  text-align: left;
  padding: 0;
}

.card-header button:hover {
  text-decoration: underline;
}

.alert-info {
  margin-top: 20px;
  font-size: 13px;
}


.spinner-border {
  display: block;
  margin: 20px auto;
}

/* Archivo: tu-archivo-de-estilos.css */
.captcha-container {
  margin-bottom: 20px;
  /* Ajusta el tamaño del margen según necesites */
}

.input-group {
  align-items: flex-start;
}

textarea.form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-custom {
  height: auto;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 10px 20px;
  font-size: 16px;
}

.preguntaDiv {
  position: fixed;
  bottom: 50px;
  width: 93%;
}

.respuesta {
  display: inline-block;
  overflow: auto;
  margin-bottom: 40px;
  height: 76vh;
}